
html, body{
  min-height: 100%;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body{
  position: relative;
}
.form.head-form {
    float: right;
    padding: 8px 0;
}
.form.head-form input {
    max-width: 100% !important;
    width: 300px !important;
}
.overlay{
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(255,255,255,0.5); /*dim the background*/
}
.customLoader {
    left: 43%;
    position: absolute;
    top: 25%;
    z-index: 99999;
}
.cluster:hover > img {
    transform: scale(1.2);
    transition: -moz-transform 0.2s ease-in-out 0s;
}
.CustomData {
    width: 95%;
}
p.add {
    color: #fff;
    font-weight: bold;
    line-height: 14px;
    margin-bottom: 0;
    margin-top: 14px;
    text-indent: 0;
}
.btn.btn-warning{ background-color: #f47e1f;}
.nav-bar-top{
    background:#1bb871;
    border-bottom:none;
    }
.navbar-inverse .navbar-brand{color:#fff;}
form.head-form{padding:8px 0px; float:right;}
form.head-form  input{width:300px !important; max-width:100% !important;}
.navbar-brand.logo-brand.demo_logo {
    margin-top: 6px;
}
.navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    position: relative;
    vertical-align: middle;
}
.navbar-form .form-group p {
    float: left;
    font-weight: bold;
    margin-right: 9px;
    margin-top: 5px;
}
.navbar-form .form-control {
   background: #ffffff none repeat scroll 0 0;
    border: medium none;
    border-radius: 40px;
    box-shadow: none;
    color: #cccccc;
    display: inline-block;
    padding: 5px 133px 5px 16px;
    vertical-align: middle;
    width: 362px;
}
.navbar-form .form-group .btn.btn-warning {
    border: medium none;
    border-radius: 40px;
    height: 34px;
    position: absolute;
    right: 0;
    top: 0;
}
.navbar-form.nav li {
     float: left;
    margin-bottom: 0;
    margin-right: 36px;
    margin-top: 6px;
 
}

.navbar-form.nav li p.add {
    float: left;
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 6px;
}

.customLoader {
    position: fixed;
}
.customLoader {
    left: 43%;
    margin: 0 auto;
    position: fixed;
    top: 36%;
    width: 120px;
    z-index: 99999;
}
.customLoader img {
    width: 101px;
}

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
      margin-top: 64px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-right: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 250px;
    width: 0;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #1bb871;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    padding:20px;
    color: #fff;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.btn.btn-default .navbar-toggle.tog_menu {
    display: block;
}

a.btn.btn-default {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
}
a.btn.btn-default .navbar-toggle.tog_menu {
    border: 1px solid #fff;
    margin-top: 0;
}
a.btn.btn-default .navbar-toggle.tog_menu:hover {
    background: #f47e1f none repeat scroll 0 0;
   
}
a.btn.btn-default .navbar-toggle.tog_menu:focus {
    background: #f47e1f none repeat scroll 0 0;
   
}
@media(min-width:768px) {
    #wrapper {
        padding-right: 0px;
    }

    #wrapper.toggled {
        padding-right: 250px;
    }

    #sidebar-wrapper {
        width: 0px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #page-content-wrapper {
        padding: 0px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
@media screen and (max-width:767px) {
form.head-form{width:100%;}
form.head-form  input{width:100% !important; max-width:100% !important;}

}
