
html, body {
    min-height: 100%;
}
body {
    -moz-user-select: none;
}
body {
    position: relative;
}
.form.head-form {
    float: right;
    padding: 8px 0;
}
.form.head-form input {
    max-width: 100% !important;
    width: 300px !important;
}
.overlay {
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 70px;
    width: 100%;
    z-index: 10;
}
.customLoader {
    left: 43%;
    position: absolute;
    top: 25%;
    z-index: 99999;
}
.cluster:hover > img {
    transform: scale(1.2);
    transition: -moz-transform 0.2s ease-in-out 0s;
}
.CustomData {
    width: 95%;
}
p.add {
    color: #fff;
    font-weight: bold;
    line-height: 14px;
    margin-bottom: 0;
    margin-top: 14px;
    text-indent: 0;
}
.btn.btn-warning {
    background-color: #f47e1f;
}
.nav-bar-top {
    background: #1bb871 none repeat scroll 0 0;
    border-bottom: medium none;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
form.head-form {
    float: right;
    padding: 8px 0;
}
form.head-form input {
    max-width: 100% !important;
    width: 300px !important;
}
.navbar-brand.logo-brand.demo_logo {
    margin-top: 6px;
}
.navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    position: relative;
    vertical-align: middle;
}
.navbar-form .form-group p {
    float: left;
    font-weight: bold;
    margin-right: 9px;
    margin-top: 5px;
}
.navbar-form .form-control {
    background: #ffffff none repeat scroll 0 0;
    border: medium none;
    border-radius: 40px;
    box-shadow: none;
    color: #333;
    display: inline-block;
    padding: 5px 133px 5px 16px;
    vertical-align: middle;
    width: 362px;
}
.navbar-form .form-group .btn.btn-warning {
    border: medium none;
    border-radius: 40px;
    height: 34px;
    position: absolute;
    right: 0;
    top: 0;
}
.navbar-form.nav li {
    float: left;
    margin-bottom: 0;
    margin-right: 36px;
    margin-top: 6px;
}
.form-control::-moz-placeholder {
    color: #333333;
    opacity: 1;
}
.navbar-form.nav li p.add {
    float: left;
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 6px;
}
.customLoader {
    position: fixed;
}
.customLoader {
    left: 1%;
    margin: 0 auto;
    position: fixed;
    top: 21%;
    width: 120px;
    z-index: 99999;
}
.customLoader img {
    height: 10px;
    width: 30px;
}
#wrapper {
    margin-top: 64px;
    padding-left: 0;
    transition: all 0.5s ease 0s;
}
#wrapper.toggled {
    padding-right: 250px;
}
#sidebar-wrapper {
    background: #1bb871 none repeat scroll 0 0;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    position: fixed;
    right: 250px;
    transition: all 0.5s ease 0s;
    width: 0;
    z-index: 1000;
}
#wrapper.toggled #sidebar-wrapper {
    width: 380px;
}
#page-content-wrapper {
    padding: 15px;
    position: absolute;
    width: 100%;
}
#wrapper.toggled #page-content-wrapper {
    margin-right: -250px;
    position: absolute;
}
.sidebar-nav {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 380px;
}
.sidebar-nav li {
    color: #fff;
    line-height: 40px;
    padding: 3px 10px;
    text-indent: 20px;
}
.sidebar-nav li a {
    color: #fff;
    display: block;
    text-decoration: none;
}
.sidebar-nav li a:hover {
    background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    font-size: 18px;
    height: 40px;
    line-height: 22px;
    padding: 10px 17px;
    text-indent: 0;
}
.sidebar-nav > .sidebar-brand a {
    color: #fff;
}
.navbar-form.nav li:last-child {
    margin-right: 0;
}
.sidebar-nav > .sidebar-brand a:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
}
.navbar-collapse.collapse.mobile_div {
    display: none !important;
}
.btn.btn-default .navbar-toggle.tog_menu {
    display: block;
}
.sidebar-nav li table {
    margin-top: 13px;
    width: 100%;
}
.sidebar-nav li table tr td {
    line-height: initial;
    padding: 2px;
}
.sidebar-nav li table.table tr td {
    font-size: 10px;
    line-height: 11px;
    padding: 3px 8px;
    vertical-align: inherit;
    text-indent: 0;
}
.sidebar-nav li table.table tr td:first-child {
    font-size: 8px;
    text-align: left;
}
.sidebar-nav li table.table tr th {
    font-size: 12px;
    text-indent: 0;
    text-align: left;
}
.sidebar-nav li table.table {
    width: 100%;
}
.sidebar-nav li table.table thead, tbody, tr, td, th {
    display: block;
}
.sidebar-nav li table.table tr::after {
    clear: both;
    content: " ";
    display: block;
    visibility: hidden;
}
.sidebar-nav li table.table thead th {
    background: #1aa564 none repeat scroll 0 0;
    font-size: 11px;
    height: 36px;
    line-height: 13px;
    padding: 4px 9px;
}
.sidebar-nav li table.table tbody {
    background: #fff none repeat scroll 0 0;
    color: #333;
    max-height: 217px;
    overflow-x: hidden;
    overflow-y: auto;
}
.sidebar-nav li table.table thead {
}
.sidebar-nav li table tr td label {
   font-size: 13px;
    line-height: 14px;
    display: block;
    margin-bottom: 0;
    text-indent: 0;
}
.sidebar-nav li table tr td label input {
    position: relative;
    top: 4px;
}
a.btn.btn-default {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
}
a.btn.btn-default .navbar-toggle.tog_menu {
    border: 1px solid #fff;
    margin-top: 0;
}
a.btn.btn-default .navbar-toggle.tog_menu:hover {
    background: #f47e1f none repeat scroll 0 0;
    border-color: #f47e1f;
}
a.btn.btn-default .navbar-toggle.tog_menu:focus {
    background: #f47e1f none repeat scroll 0 0;
    border-color: #f47e1f;
}
.sidebar-nav li.crm_type {
    margin-top: 18px;
}
@media (min-width: 768px) {
#wrapper {
    padding-right: 0;
}
#wrapper.toggled {
    padding-right: 380px;
}
#sidebar-wrapper {
    width: 0;
}
#wrapper.toggled #sidebar-wrapper {
    width: 380px;
}
#page-content-wrapper {
    padding: 0;
    position: relative;
}
#wrapper.toggled #page-content-wrapper {
    margin-right: 0;
    position: relative;
}
}
@media screen and (max-width: 767px) {
.sidebar-nav li {
    color: #ffffff;
    line-height: 40px;
    padding: 4px 20px;
    text-indent: 20px;
}
.navbar-form .form-control {
    padding: 5px 9px 5px 16px;
    vertical-align: middle;
    width: 100%;
}
.navbar-form .form-group .btn.btn-warning {
    border: medium none;
    border-radius: 40px;
    float: right;
    height: 34px;
    margin-top: 6px;
    position: relative;
    right: 0;
    top: 0;
}
.sidebar-nav > .sidebar-brand {
    font-size: 18px;
    height: 28px;
    line-height: 18px;
    padding: 4px 18px;
    text-indent: 0;
}
.navbar-collapse.collapse.mobile_div .navbar-form.nav {
    margin: 0;
    padding: 0;
}
.navbar-collapse.collapse.mobile_div .navbar-form.nav li {
    margin-right: 0;
    padding: 0;
    text-indent: 0;
}
a.btn.btn-default .navbar-toggle.tog_menu {
    border: 1px solid #ffffff;
    margin-right: 0;
}
.navbar-collapse.collapse.mobile_div {
    display: block !important;
    padding: 0;
}
.navbar-form.nav li.src_rw_lst {
    display: none;
}
#wrapper {
    margin-top: 48px;
}
#page-content-wrapper {
    padding: 0;
}
.navbar.navbar-inverse .navbar-collapse {
    border: medium none;
    float: right;
    width: 24%;
}
.navbar.navbar-inverse .navbar-header {
    float: left;
}
.navbar-form.nav li {
    float: right;
    margin-bottom: 0;
    margin-right: 3px;
    margin-top: 6px;
    text-align: right;
}
.navbar.navbar-inverse .navbar-collapse .navbar-form {
    border: medium none;
    margin: 0;
    padding: 0;
}
.navbar-brand.logo-brand.demo_logo {
    margin-top: -1px;
}
.mobile_div {
    display: block;
}
form.head-form {
    width: 100%;
}
form.head-form input {
    max-width: 100% !important;
    width: 100% !important;
}
}
