<section ng-controller="mainController" ng-init="getData()">
<div class="customLoader" ng-show="showLoder">
<img src="loader/loader.gif" alt="loader"/>
</div>





                 <nav class="navbar navbar-inverse nav-bar-top navbar-fixed-top">
                                <div class="container-fluid">
                                                   <div class="navbar-header">
                                                                   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                                                                   <span class="sr-only">Toggle navigation</span>
                                                                                   <span class="icon-bar"></span>
                                                                                   <span class="icon-bar"></span>
                                                                                   <span class="icon-bar"></span>
                                                                   </button>
                                                                   <a class="navbar-brand logo-brand demo_logo" href="#">Angular Demo App</a>
                                                   </div>
                                                                                                                     
                                                   <div id="navbar" class="navbar-collapse collapse">
                                                        <ul class="navbar-form nav navbar navbar-right">
                                                           <li>
                                                             <div class="form-group">
                                                               <p class="add">Address</p>
                                                               <input type="text" class="form-control" ng-model="newPlaceAddress" class="form-control" />
                                                               <button class="btn btn-warning" ng-click="getAddress()">Show Location</button>
                                                             </div>
                                                            </li>
                                                         <!--  <li>  <p class="add">Date</p> <div id="slider"></div></li> -->
                                                         <li>  <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
                                                         <button type="button" class="navbar-toggle tog_menu">
                                                                    <span class="sr-only">Toggle navigation</span>
                                                                    <span class="icon-bar"></span>
                                                                    <span class="icon-bar"></span>
                                                                    <span class="icon-bar"></span>
                                                                  </button></a></li>
                                                        </ul>
                                                   </div>
                                                   
                                                   
                                                   
                                                   
                                </div>
                </nav>
                
                
                
              
                
                
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    
                </li>
                <li>
                    <p class="add">Date</p> <div id="slider"></div>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
               
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
                    <div id="map"></div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    
    
    
    
 </section>
 
 <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
 </script>
    
