<section>
<div class="overlay" id="showOverlay"></div>
<div class="customLoader" id="showLoder">
<img src="loader/loader.gif" alt="loader"/>
</div>
<div class="row">
                <center>     
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Address</label>
                                <input type="text" id="addr" value="Chicago" class="form-control" style="margin-left: 10px;">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label>&nbsp;</label>
                        <button class="btn btn-primary btn-block" id="addrBtn">show location</button>
                    </div>
                </center>
            </div>
            <div id="map"></div>
 </section>
